@charset "UTF-8";
@import url("reset.css");

.flex{display: flex;}
.row{flex-direction: row; }
.column{justify-content: column; }
.start{justify-content: flex-start;}
.end{justify-content: flex-end;}
.center{justify-content: center;}
.between{justify-content: space-between;}
.around{justify-content: space-around;}

.view-size{width: 1180px; margin: 0 auto;}
.view-size-m{width: 480px; margin: 0 auto;}